body{
    margin: 0px;
    padding: 0px;
font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    width: 100;
}
#topo{
    width: 980px;
    height: 200px;
    /*background-color: brown*/
    margin: auto;

}
#menu{
    width: 980px;
    height: 100px;
    margin: auto;
    text-align: center;
    word-spacing: 20px;
}
#topo img{
    float: left;
    padding: 10px 10px 10px 10px;
}
#menu a{
    color: rgb(81, 14, 141);
    text-decoration: none;
}
#menu a:hover{
    color: aquamarine;
}
